---
import '../styles/global.css';
import illustration from '../../public/under-maintenance.svg';
import { Image } from 'astro:assets';
import Links from '@/components/social-link/Links.astro';

const buildYear = new Date().getFullYear();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Home | Ahmad Ihsan</title>
  </head>
  <body>
    <main class='container flex flex-col space-y-5 py-5'>
      <section class='flex flex-col items-center space-y-4'>
        <Image
          alt='illustration for under maintenance'
          height={300}
          width={300}
          src={illustration}
        />
        <div class='text-center max-w-lg'>
          <h3 class='text-xl text-gray-900 pb-2'>Under maintenance, be back soon!</h3>
          <p class='text-gray-600'>
            Hey there, Ihsan here. I'm currently working on revamping this site to include other
            aspects of my life, not just focusing on my career. If you'd like to get in touch, feel
            free to reach out via the following links.
          </p>
        </div>
      </section>

      <Links />
    </main>

    <footer class='fixed bg-gray-50 bottom-0 w-full p-2 flex justify-between'>
      <p class='text-gray-500 text-sm'>
        &copy; {buildYear} Ahmad Ihsan. All rights reserved.
      </p>
      <p class='text-gray-400 text-sm'>
        Illustration by <a href='https://storyset.com/work' target='_blank'>Storyset</a>
      </p>
    </footer>
  </body>
</html>
